
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Test App</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/view/css/stylesheet.css">
</head>
<body>
<form class="form-signin">
    <div class="text-center mb-4">
        <img class="mb-4" src="/view/img/scalr.png" alt="" width="72" height="72">
        <span>    +    </span>
        <img class="mb-4" src="/view/img/gh.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Test Oauth App</h1>
        <p>GitHub Webhook receiver</p>
    </div>

    <a class=" my-btn btn btn-lg btn-success btn-block" role="button" href="{{auth_url}}">Authorize app</a>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2019</p>
</form>
</body>
</html>
